# python compiled byte code
__pycache__/
*.py[cod]

# Distribution, packaging
# env/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

# Data, Images, tar
*.txt
*.tar
*.gz
*.p
*.table

# Directories
legacy/
plots/
presentations/
docs/
datafiles
.ipynb_checkpoints/
scripts/.ipynb_checkpoints/

# monitoring email app password
scripts/monitoring/email_config.py
